
$table-head-cell-border-width:0;
.box.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    width:100%;
  }

.pointer{
  cursor: pointer !important;
}  

@import '../node_modules/bulma/bulma.sass'